* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color:#faf6f6;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #f8dcbf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    z-index: 1000;
    border-bottom: 1px solid #045174;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
    border-radius: 20px;
    width: auto;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #045174; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.navbar a {
    text-decoration: none;
    color: #045174;
    font-weight: 500px;
}

.navbar a:hover,
.navbar a.active {
    color: #f4a261;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: #045174;
    border-radius: 2px;
} 

.hero {
    background: url('images/hero-image.png') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    color: white;
    background-size: cover; 
    position: relative;
    z-index: 1;
}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); 
}

.hero-content h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color:#045174;
}

.hero-content a{
  text-decoration: none;
}

.btn {
  display: inline-block;         
  padding: 12px 30px;            
  min-width: 150px;
  font-size: 16px;               
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background: #045174;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
    background: #f4a261;
}

@media (min-width: 768px) {
  .btn {
    width: 100%;                  
    font-size: 18px;            
  }
}

.products {    
    text-align: center;
    background-color: #fdfafa;
}

.products h2{
    margin-top: 30px;
    color: #045174;
    font-size: 35px
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px 30px;
    background: #faf6f6;
}

.product-card {
    background: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #eaeaea;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card h3 {
    font-size: 20px;
    font-weight: 600px;
    color: #045174;
}

.product-card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.product-card a{
    text-decoration: none;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.footer {
  background: #f8dcbf;
  color: #045174;
  padding: 16px 16px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  color: #045174;
  padding: 30px 20px;
  text-align: left;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.footer-section ul {
  list-style: none;
}

.footer-section a {
  color: #045174;
  text-decoration: none;
  display: block;
  margin: 0.3rem 0;
  transition: 0.3s;
  font-size: 22px;
}

.footer-section a:hover {
  color: #f4a261;
}

.socials a {
  margin-right: 10px;
  font-size: 30px;
  transition: 0.3s;
}

.socials a:hover {
  color: #f4a261;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  border-top: 1px solid #045174;
  padding-top: 1rem;
  font-size: 18px;
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    background: #f8dcbf;
    width: 200px;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .navbar ul {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar.show {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }

  .footer-container {
    grid-template-columns: 1fr; 
    text-align: center;
  }
  .footer-about { order: 1; }
  .footer-links { order: 2; }
  .footer-socials { order: 3; }
}

.shop-toolbar {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #045174;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #045174;
}

.shop-toolbar h1 {
    margin-bottom: 10px;
    color: #f8dcbf;
}

.filters {
    display: flex;
    gap: 10px;
}

.filters input,
.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.product{
  color: #045174;
  font-size: 20px;
}
.product-detail {
    display: flex;
    gap: 30px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 1100px;
    margin: 40px auto;   
    flex-wrap: wrap;
    align-items: center;
}

.product-gallery {
    flex: 1 1 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-gallery img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.product-info {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.product-info h1 {
  font-size: 32px;
  color: #333;
}

.rating {
    color: #ffb400;
    font-size: 18px;
}

.product-info p {
    font-size: 17px;
    color: #555;
    line-height: 1.5;
}

.product-info span {
    font-size: 24px;
    font-weight: bold;
    color: #e63946;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity input {
    width: 70px;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 992px) {
  .product-detail {
    padding: 20px;
    gap: 20px;
  }
  .product-gallery img {
    max-width: 380px;
  }
  .product-info h1 {
    font-size: 28px;
  }
  .product-info span {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    text-align: center;
    margin: 30px 15px; 
  }
  .product-gallery img {
    max-width: 90%;
    height: auto;
    min-height: 320px; 
  }

  .product-info {
    align-items: center;
  }

  .product-info h1 {
    font-size: 26px;
  }
  .product-info span {
    font-size: 20px;
  }
  .btn {
    width: 100%;
    font-size: 18px;
    padding: 14px;
  }
}
.cart-container {
  max-width: 1200px;
  color: #045174;
  width: 90%; 
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

#cartTable {
  width: 100%;
  border-collapse: collapse;
}

#cartTable th, #cartTable td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#cartTable img {
  border-radius: 6px;
}

.qty-input {
  width: 60px;
  padding: 5px;
  text-align: center;
}

.remove-btn {
  background: red;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
}

.remove-btn:hover {
  background: darkred;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.checkout-btn {
  display: block;
  margin: 20px auto 0;
  padding: 15px 30px;
  font-size: 16px;
  background: hsl(199, 93%, 24%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #f4a261;
}

    /* Responsive */
    @media (max-width: 768px) {
      .cart-item {
        flex-direction: column;
        align-items: flex-start;
      }

      .cart-details {
        margin-left: 0;
        margin-top: 10px;
      }

      .cart-actions {
        margin-top: 10px;
        justify-content: space-between;
        width: 100%;
      }
    }

.checkout-container { 
    max-width: 600px; 
    margin: auto; 
    background: #ffffff; 
    padding: 25px; 
    border-radius: 10px; 
    margin-top: 30px;
    margin-bottom: 30px;
    color: #045174;
}

h1 { 
    text-align: center; 
}

.checkoutForm label { 
    display: block; 
    margin-top: 15px; 
    font-weight: bold;
}

input, select { 
    width: 100%; 
    padding: 10px; 
    margin-top: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px;
    border: 1px solid #ccc; 
}

.order-summary { 
    margin-top: 20px; 
    font-weight: bold; 
    margin-bottom: 20px;
}

